body{
    background-size: cover;
}
.copy_right_footer{
    background-color: lawngreen;
    font-style: italic;
    border: 5px 5px skyblue;
    padding: 20px;
    box-shadow: 5px 5px 6px maroon;
    margin: 10px;
    position: fixed;
    width: 100%;
    bottom: 0px;
}
.btn-info{
    width: 100%;
    margin:0px;
}
canvas{
    box-shadow: 5px 5px 6px maroon;
    border: 5px 5px khaki;
    padding: 20px;
    margin: 10px;
}